.searchData{
  Width: 241px;
  Height: 38px;
  Font-size: 16px;
  Background-color: rgb(255, 255, 255);
  Border-color: rgb(206, 212, 218);
  Padding-top:6px;
  Padding-bottom: 6px;
  Padding-left: 12px;
  Border-radius: 4px;
}
.title{
  font-weight: 1700;
  display:flex;
  justify-content: center;
}


